[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory={{djangoservice.workingdir}}
ExecStart={{djangoservice.execstart}}

[Install]
WantedBy=multi-user.target
